.download-chart-card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.download-chart-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.download-chart-title {
  color: #4e83fb;
  font-weight: bold;
  font-size: 15px;
}

.download-chart-content {
  height: 190px;
}