.sidebar {
    width: 300px;
    height: 95vh;
    background-color: #4e83fb;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px; 
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    background-color: #0d377f;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .logo-icon {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  
  .brand-name {
    font-size: 50px;
    font-weight: bold;
  }
  
  .sidebar-section {
    margin-bottom: 20px;
    flex: 1;
  }
  
  .sidebar-menu {
    list-style: none;
    font-size: 17px;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebar-item.active {
    background-color: white;
    color: #4e83fb;
  }
  
  .sidebar-icon {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .contact-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-top: auto;
  }
  
  .contact-container p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .contact-button {
    background-color: #7ad0f7;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #63c0ea;
  }